form{
    background-color: rgba(34, 67, 255, 80%);
    color: aliceblue;
    font-family: monospace;
    max-width: 80%;
    margin: 20px auto 20px auto;
    padding: 20px;

}
body{
    background-color: azure;
}
input{
    display: block;
    margin: 2em 0;
}
input[type = "checkbox"] {
    display: inline;
}
label{
    display: block;
}
header{
    background-color: aqua;
}
nav{
    display: flex;
    text-align: center;
    justify-content: center;
}
ul > li{
    text-decoration: none;
    display: inline;
    padding: 2em;
}
h1{
    text-align: center;
    font-family: "Agency FB";
    font-size: 5rem;
}
img{
    display: flex;
    margin: auto;
    align-items: center;
}
table, tr, td, th{
    border: darkblue 2px solid;
    margin: 20px auto 20px auto;
    border-collapse: collapse;
}