table {
    border-collapse: collapse;
    width: 50%;
    border-radius: 20px;
    margin: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:hover {
    background-color: #bcc5c599;
    border-top: #4e5858 solid 1px;
    border-bottom: #4e5858 solid 1px;
  }
  thead tr{
    background-color: seagreen;
    border-radius: 20px;
  }
  body{
    text-align: center;
  }
  main{
    background: linear-gradient(135deg, rgba(146, 230, 255, 0.2), rgba(186, 146, 255, 0.3));
  }