{% extends 'layout.html' %}
{% block body %}
{#<div id="carouselExampleDark" class="carousel carousel-dark slide">#}
{#  <div class="carousel-indicators">#}
{#    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>#}
{#    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>#}
{#    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>#}
{#      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 4"></button>#}
{#      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 5"></button>#}
{#  </div>#}
{#  <div class="carousel-inner">#}
{#      {% for txt in slider %}#}
{#            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" data-bs-interval="10000">#}
{#              <img src="media/{{ txt.image }}" class="d-block w-100" height="700" width="70%" alt="{{ txt.text1 }}">#}
{#              <div class="carousel-caption d-none d-md-block">#}
{#                <h3>{{ txt.text1 }}</h3>#}
{#                <p>{{ txt.text2 }}</p>#}
{#              </div>#}
{#            </div>#}
{#      {% endfor %}#}
{##}
{#  </div>#}
{#  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">#}
{#    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#    <span class="visually-hidden">Previous</span>#}
{#  </button>#}
{#  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">#}
{#    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#    <span class="visually-hidden">Next</span>#}
{#  </button>#}
{#</div>#}
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      {% for txt in slider %}
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="media/{{ txt.image }}"  height="100%" class="d-block w-100" alt="{{ txt.text1 }}">
        <div class="carousel-caption d-none d-md-block">
        <h3>{{ txt.text1 }}</h3>
        <p>{{ txt.text2 }}</p>
    </div>
  </div>
      {% endfor %}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>
</div>
{% endblock %}