{% extends 'layout.html' %}
{% load static %}
{% block body %}
<div class="container">
    <table class="table mt-5 tbl">
        <h1>Students</h1>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Image</td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}