<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
</head>
<body>
<form action="/stk" method="post" style="background: aqua">

    {% csrf_token %}

    <input type="number" value="254" name="phone"><br><br>

    <input type="number" placeholder="Amount" name="amount"><br><br>

    <input type="submit" value="Pay Now" >
</form>
</body>
</html>